doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href="assets/css/main.css")
    link(rel="stylesheet", href="assets/css/font-awesome.min.css")
  body
    // Fixed navbar
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') 
            h1 future imperfect
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='#') Home
            li
              a(href='') |
            li
              a(href='#about') About us
            li
              a(href="") |
            li
              a(href='#contact') services
            li
              a(href="") |
            li
              a(href='#contact') galleries
            li
              a(href="") |
            li
              a(href='#contact') contact
            
          ul.nav.navbar-nav.navbar-right
            li.active
              a.fa.fa-search(href='./')
        // /.nav-collapse
  
    // /container
    
    .container
      .row
        #intro
          a.logo(href="#")
            img(src="images/logo.jpg", alt="")
        h1 future imperfect
        p another fine responsive site template by 
          a(href="#") html5 up
      .bck
        .row
          .col-md-9
            h4 magna sed adipiscing
            p lorem ipsum dolor amet nullam consequat etiam feugiat
          .col-md-3
            h6 november 1, 2015
            span jane doe
            img(src="images/avatar.jpg", alt="")
        .row
        img(src="images/pic01.jpg", alt="")
        p Mauris neque quam, fermentum ut nist vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fingilla.
        a(href="#") continue reading
        ul
          li
            a(href="#") general
          li
            a.fa.fa-heart(href="#") 28
          li
            a.fa.fa-comment(href="#") 128
      .row
        a(href="#") < previous page
        a(href="#") next page >
      hr
      .row
        .col-md-6
          img(src="images/pic10.jpg", alt="")
          .descrip
            h6 vitae sed condimentum
            span october 20, 2015
            img(src="images/avatar.jpg", alt="")
      
      hr
      .row
        .media
          a.pull-left(href="#")
            img(src="images/pic08.jpg", alt="")
          .media-body
            h4.media-heading lorem ipsum fermentum ut nisl vitae
            span october 20,2015
      
      .row
        h3 about
        p Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies
        a(href="#") learn more
      hr
      footer
        a.fa.fa-twitter(href="#")
        a.fa.fa-facebook(href="#")
        a.fa.fa-instagram(href="#")
        a.fa.fa-rss(href="#")
        a.fa.fa-envelope(href="#")
        p © untitled. desing. 
          a(href="#") html5 up
          p fjhgjhg
        p images. 
          a(href="#") unplash
        #hexagono
          p lkajfdklajs  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque rerum accusamus repudiandae fugit, aperiam labore magnam recusandae voluptas molestias assumenda eveniet voluptate hic ullam optio suscipit, odit facilis dolor tempore!








    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='assets/js/bootstrap.min.js')